@import "./mixins";
@import "./variables";

.row {
  @include flex();
}

.col {
  @include flex(column);
}

.justify {
  justify-content: space-between;
}

.align {
  align-items: center;
}

.flex {
  flex: 1;
}
