@import "../../sass/mixins";
@import "../../sass/variables";

.header {
  height: 60px;
  padding: 10px;
  color: #fff;
}

.facebook .header {
  background: $facebook-header;
}

.whatsApp .header {
  background: $whatsApp-header;
}
