@import "../../sass/mixins";
@import "../../sass/variables";

.breadcrumbs {
  padding: 10px;
  border-bottom: 1px solid #a1a1a1;

  .breadcrumbs-item {
    margin-right: 10px;
    position: relative;

    span {
      text-transform: lowercase;
    }
  }

  .breadcrumbs-item:last-child {
    font-weight: 700;
  }

  .breadcrumbs-item:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    top: 7px;
    right: -7px;
    background: #000;
  }

  .breadcrumbs-item:last-child:after {
    content: none;
  }
}
